<section>
<div class="col-md-8 list-group-item">
  <h3>Hello, I'm Brandon Tong</h3>
  <blockquote>
    If Choiciture has caught your attention and you want to hire me, please feel free to contact me.
    <a href="mailto:brandonidas@gmail.com">brandonidas@gmail.com</a>
  </blockquote>
  <p>
    I developed this project from scratch, including self-learning web development, on my own. At the time, 2014-2015, I was a final year polytechnic student
    in Singapore, completing a Diploma of Financial Business Informatics - basically financial and business analytics.
  </p>
  <p>
    In my coursework, I had written programs before but they were mostly for analyzing market or business data.
    Web development is mostly new to me, basic programming logic is there but I am fascinated by
    the new technologies in this area, and as much as this project was meant to help people make choices,
    it was also meant for me to learn about web development technology.
  </p>
  <p>
    I did not build this project on established web technology, you will find no PHP, Ruby or Jquery here.
    I only wanted to learn upcoming technology. And as such, Choiciture was made only with the upcoming but not
    yet established. Namely, the Javascript full-stack abbreviated as "M.E.A.N".
  </p>
  <b>M.E.A.N stands for </b>
  <ul>
    <li><a href="http://www.mongodb.org/">MongoDB</a></li>
    <li><a href="http://expressjs.com/">Express</a></li>
    <li><a href="https://angularjs.org/">Angular</a></li>
    <li><a href="http://nodejs.org/">Node</a></li>
  </ul>
  <p>
    I only aimed my sights at upcoming technologies because I have national service starting in August
    and I wanted to jump ahead of the curve right now, even though learning the unestablished is harder
    than learning the established, so that when I come out of national service in 2017 I will have
    skills that are relevant, rather than obsolete.
  </p>
  <p>
    Accompanying technologies include <a href="http://git-scm.com/">Git</a> for version control,
    <a href="http://getbootstrap.com/">Bootstrap</a> for mark up and many other open-source licensed projects
    (if any open-source contributor is reading this, thank you very much for enabling this to happen).
  </p>
  <p>
    I would also like to thank Temasek Polytechnic's Entrepeneurship Center as well as Spring Singapore
    for granting the SPF Funding so that I could outsource certain aspects such as beta-testing and graphic design
    as well as buy learning resources including books and online courses.
  </p>
  <p>
  </p>
  <p>
    <b>Re-Choice <i class="glyphicon glyphicon-fullscreen"></i></b>,
    </br>
    Brandon Tong
  </p>
  <div class="text-center col-md-offset-1 col-md-9">
  </div>

</div>
<div class="col-md-4">
  </br></br>
  <div class="list-group-item">
    <h4><i class='glyphicon glyphicon-flag'></i> Masthead</h4>
    <h5><b>Brandon Tong</b></h5>
    <a href="mailto:brandonidas@gmail.com">brandonidas@gmail.com</a>
    <ul>
      <li>Client-Side Development</li>
      <li>Server-Side Development</li>
      <li>UX Design</li>
      <li>Beta Test Coordination</li>
    </ul>
  </div>
  </br>
  <img class="img-responsive" src="/modules/core/views/blog/road sign.png">
  </br>
</div>
</section>
