<section>
<div class="list-group-item col-md-8">
  <h3>The Fallacy of Choice</h3>
  <p>
    People are both social and intellectual beings, this has allowed humanity
    intellectual collaboration that has pushed us forward into the future.
  </p>
  <p>
    However, such a combination of two, sometimes contradictory, traits produces
    unwanted confusion. This is when a person's intellect fails because a choice
    is inherently social but attempts to resolve it anyway.
  </p>
  <p>
    Take for example, the straight A student, able to navigate the complex nuances
    of her academic work but unable to choose her outfit for the date.
  </p>
  <p>
    This is because as intelligent as one may be, when confronted with a social choice,
    human beings need social evidence to make that choice.
  </p>
  <p>
    Certain social choices are easy to make but others are not and depending on
    the state of mind one is in, even a mundane social choice becomes excruciating,
    even for people who deem themselves self-directed and decisive.
  </p>
  <blockquote>
    Choiciture Works To Make Collecting Social Evidence Easy
  </blockquote>
  <p>
    Through the use of simple social media concepts and UX design, we've created an application
    that makes it easy to collect social sentiment for your social choices.
  </p>
  <p>
    Although, as at February 2015, it's still in it's prototype phase, it's core functionality
    complete and is usable right now with a full Twitter-like social follower system and functionality
    for posting of "Choices".
  </p>
  <p>
    <b>Choices <i class="glyphicon glyphicon-fullscreen"></i></b> are which are simple collections of 1-4 images used as "options" to be
    liked as a means of social evidence, a long with a caption to be used as a question, to add
    some context. These are posts that users can create to acquire social evidence from their
    followers. (example below)
  </p>
  <div class="text-center col-md-offset-1 col-md-9">
    <img class="img-responsive" src="/modules/core/views/blog/sample choice 1.png">
  </div>

</div>
<div class="col-md-4">
  </br></br>
  <div class="list-group-item">
    <h4><i class='glyphicon glyphicon-flag'></i> Masthead</h4>
    <h5><b>Brandon Tong</b> (Co-Founder)</h5>
    <a href="mailto:brandonidas@gmail.com">brandonidas@gmail.com</a>
    <ul>
      <li>Client-Side Development</li>
      <li>Server-Side Development</li>
      <li>UX Design</li>
      <li>Beta Test Coordination</li>
    </ul>
  </div>
  </br>
  <img class="img-responsive" src="/modules/core/views/blog/road sign.png">
  </br>
</div>
</section>
