<section>
<div class="col-md-8">
  <h3>Hello, I'm Brandon Tong</h3>
  <blockquote>
    If Choiciture has caught your attention and you want to hire me, please feel free to contact me.
  </blockquote>
  <p>
    I developed this project from scratch, including self-learning web development, on my own. At the time, 2014-2015, I was a final year polytechnic student
    in Singapore, completing a Diploma of Financial Business Informatics - basically financial and business analytics.
  </p>
  <p>
    In my coursework, I had written programs before but they were mostly for analyzing market or business data.
    Web development is mostly new to me, basic programming logic is there but I am fascinated by
    the new technologies in this area, and as much as this project was meant to help people make choices,
    it was also meant for me to learn about web development technology.
  </p>
  <p>
    This project is not built on established web technology, you will find no PHP, Ruby or Jquery here.
    I only wanted to learn upcoming technology and as such, Choiciture was made only with the upcoming but not
    yet established. Namely, the Javascript full-stack abbreviated as "M.E.A.N"
  </p>
  <b>M.E.A.N stands for </b>
  <ul>
    <li><a href="http://www.mongodb.org/">MongoDB</a></li>
    <li><a href="http://expressjs.com/">Express</a></li>
    <li><a href="https://angularjs.org/">Angular</a></li>
    <li><a href="http://nodejs.org/">Node</a></li>
  </ul>

  <p>
    Accompanying technologies include <a href="http://git-scm.com/">Git</a> for version control,
    <a href="http://getbootstrap.com/">Bootstrap</a> for mark up and many other open-source licensed projects
    (if any open-source contributor is reading this, thank you very much for enabling this to happen).
  </p>
  <p>
    I would also like to thank Temasek Polytechnic's Entrepeneurship Center as well as Spring Singapore
    for granting the SPF Funding so that I could outsource certain aspects such as beta-testing and graphic design
    as well as buy learning resources including books and online courses.
  </p>
  <p>
    Through the use of simple social media concepts and UX design, we've created an application
    that makes it easy to collect social sentiment for your social choices.
  </p>
  <p>
    Although, as at February 2015, it's still in it's prototype phase, it's core functionality
    complete and is usable right now with a full Twitter-like social follower system and functionality
    for posting of "Choices".
  </p>
  <p>
    <b>Choices <i class="glyphicon glyphicon-fullscreen"></i></b> are which are simple collections of 1-4 images used as "options" to be
    liked as a means of social evidence, a long with a caption to be used as a question, to add
    some context. These are posts that users can create to acquire social evidence from their
    followers. (example below)
  </p>
  <div class="text-center col-md-offset-1 col-md-9">
    <img class="img-responsive" src="/modules/core/views/blog/sample choice 1.png">
  </div>

</div>
<div class="col-md-4">
  </br></br>
  <div class="list-group-item">
    <h4><i class='glyphicon glyphicon-flag'></i> Masthead</h4>
    <h5><b>Brandon Tong</b> (Co-Founder)</h5>
    <a href="mailto:brandonidas@gmail.com">brandonidas@gmail.com</a>
    <ul>
      <li>Client-Side Development</li>
      <li>Server-Side Development</li>
      <li>UX Design</li>
      <li>Beta Test Coordination</li>
    </ul>
  </div>
  </br>
  <img class="img-responsive" src="/modules/core/views/blog/road sign.png">
  </br>
</div>
</section>
